<ion-content padding class="page-home">
  <div class="p1">
    <img src="assets/img/p1.png">
  </div>
  <div class="device_detais">
    <h1>{{ manufacturer }}</h1>
    <h4>{{ market_name }}</h4>
    <!--<p>Serial: {{ serial_number }}</p>-->
    <p>OS: {{ ost_ype }} {{ os_version }}</p>
    <p>Device UUID: {{ uuid }}</p>
    <p *ngIf="is_android">Device IMEI: {{ imei }}</p>
    <button *ngIf="start_evaluation" ion-button color="dark" round (click)="start_eval()">Begin Evaluation</button>
    <p *ngIf="explain">
      {{ reason }}
    </p>
  </div>

  <div class="le-note">
    <p>Matrix Deva</p>
  </div>
</ion-content>
