<ion-content padding>
  <div text-center><img src="assets/img/t1.png"></div>
  <div text-center>
    <h2>Screen Evaluation</h2>
    <!--<p>We would like to know if the screen is optimal and works perfectly. That way we may schedule repairs before the trade-off.</p>-->
  </div>

  <ion-list>
    <ion-item text-wrap>
      <ion-label><strong>My screen is cracked.</strong> <br/><small><i>Select this option if your screen is cracked.</i></small></ion-label>
      <ion-toggle [(ngModel)]="screenCracked" (ionChange)="updateIsCracked(screenCracked)" color="secondary"></ion-toggle>
    </ion-item>
    <ion-item text-wrap *ngIf="!screenCracked">
      <ion-label><strong>My screen is perfect.</strong> <br/><small><i>Select this option if your screen is clean and in excellent condition.</i></small></ion-label>
      <ion-toggle [(ngModel)]="screenTouch" color="secondary"></ion-toggle>
    </ion-item>
  </ion-list>

  <div text-center>
    <button ion-button color="dark" round *ngIf="screenCracked || !screenTouch" (click)="nextStage()">Continue</button>
    <button ion-button full color="dark" round *ngIf="!screenCracked && screenTouch" (click)="screen2()">Test Screen</button>
  </div>

  <div class="le-note">
    <p>Matrix Deva</p>
  </div>
</ion-content>
