page-screen2 {
  .swiper{
    text-align: center;
    color: #cccccc;
    border: 1px solid #cccccc;
    height: 80vh;
    padding-top: 10vh;
    margin-bottom: 3vh;
    h3{
      text-align: center;
      color: #cccccc;
    }
  }
}
